CLZPRE_1008/CLZPRE_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="IdopontTipusGPT">
        <xs:sequence>
            <xs:element name="nap" type="xs:string"/>
            <xs:element name="tol" type="xs:time"/> <xs:element name="ig" type="xs:time"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OraTipusGPT">
        <xs:sequence>
            <xs:element name="targy" type="xs:string"/>
            <xs:element name="idopont" type="IdopontTipusGPT"/>
            <xs:element name="helyszin" type="xs:string"/>
            <xs:element name="oktato" type="xs:string"/>
            <xs:element name="szak" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="tipus" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="CLZPRE_orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" type="OraTipusGPT" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>