CLZPRE_0924/CLZPRE_kurzusfelvetel.dtd

<!ELEMENT CLZPRE_kurzusfelvetel (hallgato, kurzusok)>
<!ATTLIST CLZPRE_kurzusfelvetel
    tanév CDATA #REQUIRED
    egyetem CDATA #REQUIRED
>

<!ELEMENT hallgato (hnev, szulev, szak)>
<!ELEMENT hnev (#PCDATA)>
<!ELEMENT szulev (#PCDATA)>
<!ELEMENT szak EMPTY>
<!ATTLIST szak
    evf CDATA #REQUIRED  >

<!ELEMENT kurzusok (kurzus*)>  <!ELEMENT kurzus (kurzusnev, kredit, hely, idopont+, (oktato | oraado)?)>

<!ATTLIST kurzus
    id ID #REQUIRED
    jovahagyas (igen | nem) "nem"  nyelv CDATA #IMPLIED           >

<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT kredit (#PCDATA)>
<!ELEMENT hely (#PCDATA)>

<!ELEMENT idopont (#PCDATA)>

<!ELEMENT oktato (#PCDATA)>
<!ELEMENT oraado (#PCDATA)>